.logs-page-container {
  margin-top: 6rem;
  background-color: #f2f2f2;
  padding: 1rem;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 90%;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

.logs-page-header {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.logs-page-table {
  height: 50vh;
  padding-bottom: 1rem;
}

.logs-date-form {
  width: 80%;
  display: flex;
  /* border: solid red; */
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
}

.logs-page-label {
  /* text-transform: uppercase; */
  margin-right: 0.5rem;
}

.logs-page-input {
  outline: none;
  /* border: none; */
  padding: 0.3rem;
  font-weight: 400;
}

.logs-page-button {
  padding: 0.3rem;
  background-color: #0a111f;
  color: #fca311;
  cursor: pointer;
}