.kyc-login-form {
  background-color: rgba(20, 33, 61, 1);
  width: 30vw;
  margin: auto;
  height: 27vw;
  position: relative;
  box-shadow: 0.1rem 0.1rem 1rem rgba(20, 33, 61, 1);
  padding: 1rem;
  margin-top: 6rem;
}

.kyc-login-header {
  font-size: 1.5rem;
  margin-top: 3rem;
  color: #FCA311;
  font-weight: 300;
}

.kyc-login-header:before {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 3rem;
  background-color: #FCA311;
  top: 3rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  left: 0;
}

.kyc-login-input-container {
  /* margin-top: 3rem; */
  /* border: red solid; */
  padding: 1rem;
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.kyc-login-label {
  font-size: 1.3rem;
  color: #E5E5E5;
  font-weight: 300;
  margin-bottom: 0.5rem;
  margin-top: 2.25rem;
}

.kyc-input-container {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 2rem; */
}

.kyc-input-container input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  width: 80%;
  font-size: 1.1rem;
  color: #e5e5e5;
  font-weight: 300;
  padding: 0.1rem;
  text-align: start;
  /* border: solid red; */
}

.fas {
  color: #FCA311;
  /* border-right: 0.1rem solid #FCA311; */
  padding: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
  width: 10%;
}

.kyc-input-container FontAwesomeIcon {
  width: 20%;
  color: white;
}

.kyc-between-line {
  background-color: #0a111f;
  width: 0.1rem;
  height: 75%;
}

.kyc-error-msg {
  color: rgb(174, 12, 12);
  position: absolute;
  top: 70%;
  left: 0;
  left: 50%;
  transform: translateX(-50%);
}